
@model Doe.Ls.ProjectTemplate.Core.BL.Models.Extensions.UserInfoExtension


@{
    ViewBagWrapper.InfoBag.SetTitle("Log in", ViewData);
    var sampleUser = ProjectTemplateSettings.Portal.DebugAutoAuthenticationUser;
}

<form class="" role="form" method="POST" id="form-test-signin">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="UserName" class="col-form-label col-lg-3">@Html.DisplayNameFor(model => model.UserName)</label>

        <div class="col-lg-4">
            <div class="input-group">
                
                
                <input type="text" name="UserName" id="UserName" class="form-control" placeholder="e.g. john.smith" autofocus autocomplete="on"
                       required data-fv-notempty-message='The user name is required' value="@sampleUser" />
              
                <span class="input-group-addon">!</span>
            </div>
        </div>
    </div>

   

    <p>
        <button type="submit" class="btn btn-primary col-lg-offset-2">Log in</button>
    </p>

    <div class="col-lg-offset-2">
        <!-- Button trigger modal -->        
        <button class="btn  btn-primary " data-toggle="modal" data-target="#sampleUserModal" data-backdrop= 'static' data-keyboard= 'false'>Sample Users</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="sampleUserModal" tabindex="-1" role="dialog" aria-labelledby="sampleUserModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">              
                <div class="modal-header">
                    <h5 class="modal-title" id="sampleUserModalLabel">Use one of these Sample Users!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&#215;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_sampleUsers")
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</form>
@*
@section SignInActive
{ active }*@
