 


@model IEnumerable<PositionHistory>
@{
    ViewBagWrapper.InfoBag.SetTitle("Position history list",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}

@*
@section PositionHistoryActive
{
active 
}
*@

<div class="wrapper" id="wrapper-PositionHistory">

    <div class="page-header">
        <h2>@ViewBagWrapper.InfoBag.GetTitle(ViewData)</h2>
    </div>

    <p>
        <a href="@Url.Action("Create",new {ajax=true})" class="btn btn-primary pop-up" data-toggle="modal" data-target="#vlePluginModal">
            Create new Position history
        </a>
    </p>

    @Html.Partial("_partial/_list")

</div>
