<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>    
    <add name="PositionEstablishmentEntities" connectionString="metadata=res://*/PosEstablishment.csdl|res://*/PosEstablishment.ssdl|res://*/PosEstablishment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qw0000sqlqe009.apps.pre.mgmt.det\vle1;initial catalog=UAT_PositionDescription;persist security info=True;user id=PositionDescription;password=PositionDescription@vle123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <portal>
    <add key="IsRealPortal" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DebugAutoAuthentication" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DebugAutoAuthenticationUser" value=""
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </portal>

  <notification>
    <add key="NotificationEmailAddress" value="positionEstablishment-uat@det.nsw.edu.au"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="Subject" value="Position Establishment at UAT has error"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  </notification>

  <site>
    <add key="UseGoogleAnalytic" value="false"
        xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="GoogleAnalyticKey" value="TBA"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="IsTestSite" value="true"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseShareToolbar" value="true"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AssetFolderPath" value="\\vleqstorage.detnsw.win\ls-vle-shares\PositionDescription-UAT\"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AppUrl" value="http://positiondescriptions.lsvle.uat.det.nsw.edu.au/"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="FixedUrl" value="true"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PdfTemplatePath" value="\\vleqstorage.detnsw.win\ls-vle-shares\PositionDescription-UAT\PdfTemplates\"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PdfOutputPath" value="\\vleqstorage.detnsw.win\ls-vle-shares\PositionDescription-UAT\PdfOutput\"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="oldDescriptionFileFolder" value="\\vleqstorage.detnsw.win\ls-vle-shares\PositionDescription-UAT\Old_Desc_files\"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  </site>

  <logger>
    <add key="AppLoggerServiceUrl" value="http://applogger.lsvle.uat.det.nsw.edu.au/webservices/VleLoggerService.asmx"
				 xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AppLoggerID" value="250"
				 xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </logger>
</configuration>