<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PositionEstablishmentEntities" connectionString="metadata=res://*/PosEstablishment.csdl|res://*/PosEstablishment.ssdl|res://*/PosEstablishment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=0829LV1VLEWEBD;initial catalog=project-template;persist security info=True;user id=position;password=position@@vle123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <portal>
    <add key="IsRealPortal" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DebugAutoAuthentication" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DebugAutoAuthenticationUser" value=""
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </portal>

  <notification>
    <add key="NotificationEmailAddress" value="ProjectTemplate.Dev@det.nsw.edu.au"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Subject" value="Position establishment Dev server has error"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>


  </notification>

  <site>
    
    <add key="UseGoogleAnalytic" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="GoogleAnalyticKey" value="TBA"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="IsTestSite" value="true"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="UseShareToolbar" value="true"
             xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="AssetFolderPath" value="E:\LS-VLE-Shares\project-template\"
				 xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="AppUrl" value="https://172.31.67.245/project-template/"
          xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PdfTemplatePath" value="E:\LS-VLE-Shares\project-template\PdfTemplates\"
        xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PdfOutputPath" value="E:\LS-VLE-Shares\project-template\PdfOutput\"
        xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="oldDescriptionFileFolder" value="E:\LS-VLE-Shares\project-template\Old_Desc_files\"
        xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    
  </site>

  <logger>
    <add key="AppLoggerServiceUrl" value="http://172.31.67.245/AppLogger/webservices/VleLoggerService.asmx"
        xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AppLoggerID" value="250"
        xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  </logger>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>