<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="PositionEstablishmentEntities" connectionString="metadata=res://*/PosEstablishment.csdl|res://*/PosEstablishment.ssdl|res://*/PosEstablishment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PW0000SQLPE111.apps.det.nsw.edu.au\vle1;initial catalog=PositionDescription;persist security info=True;user id=PositionDescription;password=PositionDescription@vle123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <portal>
    <add key="IsRealPortal" value="true"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DebugAutoAuthentication" value="false"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DebugAutoAuthenticationUser" value=""
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </portal>

  <notification>
    <add key="NotificationEmailAddress" value="positionEstablishment-prod@det.nsw.edu.au"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="Subject" value="Position Establishment at PROD has error"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  </notification>

  <trim>
    <add key="TrimApi" value="https://trimw.det.nsw.edu.au/HPECMServiceAPI/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TrimUrl" value="https://trimweb.det.nsw.edu.au/HPEContentManager/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="TrimBoxUri" value="12525617"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TrimServiceUsername" value="DETNSW\srvVLETRIM"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TrimServicePassword" value="CM452T8y_6WNS.:K9X3"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    

  </trim>
  
  <site>
    <add key="UseGoogleAnalytic" value="true"
        xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="GoogleAnalyticKey" value="UA-43573818-39"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="IsTestSite" value="false"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseShareToolbar" value="true"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AssetFolderPath" value="\\vlepstorage.detnsw.win\ls-vle-shares\PositionDescription\"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AppUrl" value="https://app.education.nsw.gov.au/psnsw-divisions-establishment-system/"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="FixedUrl" value="true"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PdfTemplatePath" value="\\vlepstorage.detnsw.win\ls-vle-shares\PositionDescription\PdfTemplates\"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PdfOutputPath" value="\\vlepstorage.detnsw.win\ls-vle-shares\PositionDescription\PdfOutput\"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="oldDescriptionFileFolder" value="\\vlepstorage.detnsw.win\ls-vle-shares\PositionDescription\Old_Desc_files\"
            xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TrimIntegration" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </site>

  <logger>
    <add key="AppLoggerServiceUrl" value="http://applogger.lsvle.det.nsw.edu.au/webservices/VleLoggerService.asmx"
				 xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AppLoggerID" value="250"
				 xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </logger>

 
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  
    <customErrors mode="On"  xdt:Transform="SetAttributes(mode)" />
    
    
  </system.web>
  
</configuration>