

@model IEnumerable<PositionLevel>
@{
    ViewBagWrapper.InfoBag.SetTitle("Position level list",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
    var privilege = task.GetPositionLevelPrivilege();
}

@*
@section PositionLevelActive
{
active 
}
*@

<div class="wrapper" id="wrapper-PositionLevel">

    <div class="page-header">
        <h2>@ViewBagWrapper.InfoBag.GetTitle(ViewData)</h2>
    </div>
    @if(privilege.CanCreate)
        {
        <p>
            <a href="@Url.Action("Create",new {ajax=true})" class="btn btn-primary pop-up" data-toggle="modal" data-target="#vlePluginModal">
                Create new position level
            </a>
        </p>
        }
    
    @Html.Partial("_partial/_list")

</div>
