<h1>This is a demo web page</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><span style="color: #ff0000; background-color: #3366ff;">content content</span></h2>
<p>&nbsp;</p>
<p><iframe src="https://www.youtube.com/embed/?feature=player_detailpage" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Reference current content</p>
<p>&nbsp;</p>
<p>[[About]]</p>
<p>&nbsp;</p>
<p>[[Contact]]</p>
<p>&nbsp;</p>
<p>[[Something else]]</p>