<h1><em>Contact</em></h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<ul class="list-group">
<li class="list-group-item">Cras justo odio</li>
<li class="list-group-item">Dapibus ac facilisis in</li>
<li class="list-group-item">Morbi leo risus</li>
<li class="list-group-item">Porta ac consectetur ac</li>
<li class="list-group-item">Vestibulum at eros</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><em>02/04/2015<br /></em></p>
<section class="contact"></section>
<section class="contact">
<h1>To make an enquiry about SERAP application, please contact</h1>
<h4><span style="color: #ff0000;">Phone</span></h4>
<p>&nbsp;</p>
<ul class="list-group">
<li class="list-group-item">Cras justo odio</li>
<li class="list-group-item">Dapibus ac facilisis in</li>
<li class="list-group-item">Morbi leo risus</li>
<li class="list-group-item">Porta ac consectetur ac</li>
<li class="list-group-item">Vestibulum at eros</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
(02) 9244 5060</section>
<section class="contact">
<h4><img src="../Scripts/plugins/tinymce/js/tinymce/plugins/emoticons/img/smiley-sealed.gif" alt="sealed" /></h4>
<h4>&nbsp;<iframe src="https://www.youtube.com/embed/qm9B572lDAk?feature=player_detailpage" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></h4>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>Email</h4>
<a href="mailto:serap@det.nsw.edu.au">serap@det.nsw.edu.au</a>
<h4>Mail</h4>
Policy, Planning and Reporting (SERAP)<br />NSW Department of Education and Communities<br />Locked Bag 53<br />Darlinghurst NSW 1300
<h4>Courier</h4>
Policy, Planning and Reporting (SERAP)<br />NSW Department of Education and Communities<br />Level 1, 1 Oxford Street<br />Darlinghurst NSW 2010</section>
<p>[[About]]</p>
<p>[[Play with the plugin]]</p>