<p>&nbsp;</p>
<h1>Content of How to sign in</h1>
<p>&nbsp;</p>
<ul class="list-group">
<li class="list-group-item">[[About]]</li>
<li class="list-group-item">Dapibus ac facilisis in</li>
<li class="list-group-item">Morbi leo risus</li>
<li class="list-group-item">Porta ac consectetur ac</li>
<li class="list-group-item">[[Contact]]</li>
</ul>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><span class="label label-primary">Normal text</span></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><span class="label label-warning" style="font-size: large;">How it is Warning !!!!</span></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>
<div class="list-group">
<p><a class="list-group-item active" title="Google" href="http://google.com" target="_blank">Google</a></p>
<p><a class="list-group-item" href="#">Dapibus ac facilisis in</a></p>
<p><a class="list-group-item" href="#">Morbi leo risus</a></p>
<p><a class="list-group-item" href="#">Porta ac consectetur ac</a></p>
<p><a class="list-group-item" href="#">Vestibulum at eros</a></p>
</div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><span class="label label-primary">[[Researcher]]</span></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><span class="label label-success">AA</span></div>