<h1>CLIPS User Guide: What is CLIPS?</h1>
<p><span class="text-danger">&nbsp;</span></p>
<h1><span style="font-family: verdana,geneva; font-size: x-large; color: #ff0000; background-color: #99cc00;">[[CMS little demo]]</span></h1>
<p>&nbsp;</p>
<p><span style="font-family: verdana,geneva; font-size: x-large;">[[Demo for Grant Focas]]</span></p>
<p>&nbsp;</p>
<p><span style="font-family: verdana,geneva; font-size: x-large;"><span class="label label-primary">[[Play with the plug-in]]</span></span></p>
<p id="globalNav"><span style="font-family: verdana,geneva; font-size: x-large;"><span class="label label-primary">&nbsp;Danger!!!!!</span></span></p>
<p><span style="font-family: verdana,geneva; font-size: x-large;"><span class="label label-success">QQ</span></span></p>
<p>&nbsp;</p>
<p class="skip"><a id="skipToContent" href="http://clips.det.nsw.edu.au/userguide/#cont">Skip to Content</a></p>
<ul id="ad036af79-3602-4bc4-b3cf-465d34713c3c" class="globalNavList ui-accordion ui-widget ui-helper-reset">
<li class="selected current"><a href="http://clips.det.nsw.edu.au/userguide/index.htm">Home</a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/about_clips/index.htm"><span class="label label-success">About CLIPS</span></a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/quick_start/index.htm">Quick start</a></li>
<li><a id="ui-accordion-ad036af79-3602-4bc4-b3cf-465d34713c3c-header-0" class="head ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" tabindex="0" href="http://clips.det.nsw.edu.au/userguide/">CLIPS Word Add-In<img src="http://clips.det.nsw.edu.au/userguide/graphics/transparent.gif" alt="Closed menu" width="1" height="1" /></a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/publisher/index.htm">CLIPS Publisher</a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/templates/index.htm">CLIPS templates</a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/project_organisation/index.htm">Project organisation</a></li>
<li><a id="ui-accordion-ad036af79-3602-4bc4-b3cf-465d34713c3c-header-1" class="head ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" tabindex="-1" href="http://clips.det.nsw.edu.au/userguide/">CLIPS elements<img src="http://clips.det.nsw.edu.au/userguide/graphics/transparent.gif" alt="Closed menu" width="1" height="1" /></a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/graphic_design/index.htm">For graphic designers</a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/developer/index.htm">For developers</a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/troubleshooting/index.htm">Troubleshooting</a></li>
<li><a href="http://clips.det.nsw.edu.au/userguide/lo/training_videos/index.htm">Training material</a></li>
</ul>
<p>&nbsp;</p>
<p id="content">&nbsp;</p>
<p class="skip"><a id="cont" href="http://clips.det.nsw.edu.au/userguide/#skipToContent">Skip to Navigation</a></p>
<p class="textContain">&nbsp;</p>
<h1>Overview</h1>
<p class="figure left"><img title="CLIPS uses a Word template to structure content, and cascading style sheets (CSS) to style that content." src="http://clips.det.nsw.edu.au/userguide/graphics/HowClipsWorks.gif" alt="CLIPS uses a Word template to structure content, and cascading style sheets (CSS) to style that content." width="600" height="330" /></p>
<p class="ft figure_text_left">&nbsp;</p>
<p class="caption" style="width: 600px;">CLIPS uses a Word template to structure content, and cascading style sheets (CSS) to style that content.</p>
<p>&nbsp;</p>
<p>CLIPS is the Curriculum &amp; Learning Innovation Publishing System. It converts Word documents into web pages. It does this through highly structured documents, file naming and folder structures. Templates and CSS (Cascading Style Sheets) provide the ability for variety in look and feel for the published web pages.</p>
<p>It is comprised of 2 major components:</p>
<ul>
<li>
<p>CLIPS Word Add-in &ndash; used for creating and previewing documents</p>
</li>
<li>
<p>CLIPS Publisher &ndash; for publishing whole or parts of a project - <a class="external" href="http://clips.det.nsw.edu.au/" target="_blank">http://clips.det.nsw.edu.au/</a></p>
</li>
</ul>
<p>&nbsp;</p>
<p class="advert">&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><strong><span style="color: #38761d;">NAVIGATION</span></strong></h2>
<p>[[About]]</p>
<p>[[Contact]]</p>
<p style="resize: none;">[[Researcher]]</p>