<h1><em>Play with the Plug-in<br /></em></h1>
<nav class="navbar navbar-default">
<div class="container-fluid"><!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header"><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> </button> <a class="navbar-brand" href="#">Brand</a></div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
<li><a href="#">Link</a></li>
<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Dropdown </a>
<ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li>[[About]]</li>
</ul>
</li>
</ul>
<form class="navbar-form navbar-left">
<div class="form-group"><input class="form-control" type="text" placeholder="Search" /></div>
<button class="btn btn-default" type="submit">Submit</button></form>
<ul class="nav navbar-nav navbar-right">
<li><a href="#">Link</a></li>
<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Dropdown </a>
<ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li><a href="#">Separated link</a></li>
</ul>
</li>
</ul>
</div>
<!-- /.navbar-collapse --></div>
<!-- /.container-fluid --></nav>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><em>02/04/2015<br /></em></p>
<p>&nbsp;</p>
<div class="bg-danger text-danger">Warning message</div>
<p>&nbsp;</p>
<div>&nbsp;</div>
<div>To make an enquiry about SERAP application, please contact</div>
<section class="contact">
<h4><span style="color: #ff0000;">Phone</span></h4>
(02) 9244 5060</section>
<section class="contact">
<h4><img src="../Scripts/plugins/tinymce/js/tinymce/plugins/emoticons/img/smiley-sealed.gif" alt="sealed" /></h4>
<h4>&nbsp;<iframe src="https://www.youtube.com/embed/qm9B572lDAk?feature=player_detailpage" width="486" height="273" frameborder="0" allowfullscreen="allowfullscreen"></iframe></h4>
<p dir="rtl">&nbsp;<img src="http://www.davey.com/media/1001/home-tree.png?width=960&amp;height=520&amp;quality=80&amp;mode=crop" alt="" width="355" height="192" /></p>
<p>&nbsp;</p>
<h4>Email</h4>
<a href="mailto:serap@det.nsw.edu.au">serap@det.nsw.edu.au</a>
<h4>Mail</h4>
Policy, Planning and Reporting (SERAP)<br />NSW Department of Education and Communities<br />Locked Bag 53<br />Darlinghurst NSW 1300
<h4>Courier</h4>
Policy, Planning and Reporting (SERAP)<br />NSW Department of Education and Communities<br />Level 1, 1 Oxford Street<br />Darlinghurst NSW 2010</section>
<p>[[About]]</p>