@model IEnumerable<Directorate>
@{
    ViewBagWrapper.InfoBag.SetTitle("Directorate list", ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
    var privilege = task.GetExecutivePrivilege();
    var divisionItems = ViewBagWrapper.ListBag.GetList("divisionItems", ViewData);
}

@*
    @section DirectorateActive
    {
    active
    }
*@

<div class="wrapper" id="wrapper-Directorate">

    <div class="page-header">
        <h2>@ViewBagWrapper.InfoBag.GetTitle(ViewData)</h2>
    </div>
    
    @if(privilege.CanCreate)
        {
        <div class="row ">
            <div class="col-lg-12">
                <p>
                    <a id="creat-directorate" href="@Url.Action("Create")" class="btn btn-primary pop-up" data-toggle="modal" data-target="#vlePluginModal">
                        Create new directorate
                    </a>
                </p>

            </div>
        </div>

        }

    <div class="row ">
        <div class="col-lg-12">
            <div class="container">
                <div class="card-filter" id="show-hide-filter-0">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <a href="#collapse-filter-0" class="collapsed" data-toggle="collapse">Filter by division</a>
                            </h4>
                        </div>
                        <div id="collapse-filter-0" class="panel-collapse collapse">
                            <div class="card-body">

                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label for="executiveCod" class="col-form-label col-lg-4" tabindex="0">Division</label>
                                        <div class="col-lg-8">
                                            @Html.DropDownList("executiveCode", divisionItems,"All divisions", new { id = "executiveCode", @class = "form-control select2picker", data_placeholder = "Select division ...", data_allow_Clear = "true" })
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row ">
        <div class="col-lg-12">
            @Html.Partial("_partial/_list")
        </div>
    </div>
</div>