@model PageModel

@{
    ViewBag.Title = Model.Title == "index" ? "User guide" : Model.Title;
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
}


<div class="row">
    <div class="page-header">
        <h2>@ViewBagWrapper.InfoBag.GetTitle(ViewData)</h2>
    </div>


</div>

<div class="row">
    @if(user.IsSystemAdmin || user.IsAdministrator || user.IsPowerUser)
        {
        <div class="col-lg-3">
            @Html.ActionLink("Edit", "Edit", new { page = Model.Name }, new { @class = "btn btn-primary" })
            @Html.ActionLink("List all pages", "List", null, new { @class = "btn btn-primary " })
        </div>
        }
</div>

<div class="row">
    <div class="col-lg-12">
        @Html.Raw(Model.Content)
    </div>
</div>
