


@model PositionFocusCriteria
@{ 
    
    ViewBagWrapper.InfoBag.SetTitle("Delete Position focus criteria",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}

<div class="page-header">
    <h2>@ViewBagWrapper.InfoBag.GetTitle(ViewData)</h2>
</div>

<h3>Are you sure you want to delete this position focus criteria ?</h3>

<div id="formTab" class="card.card-body">
    <form class="" role="form" method="POST" id="form-positionFocusCriteria-delete">
        @Html.AntiForgeryToken()
        
        @Html.Partial("_partial/_details")
        
        <p>
            <button type="submit" class="btn btn-primary">Delete</button> 
            &nbsp;|&nbsp; 
            <a href="@Url.Action("Index")" class="btn btn-primary">Cancel <span class="glyphicon glyphicon-th-list"></span></a>
        </p>
    </form>
</div>

