@model DateTime?

@if (Model.HasValue)
{
    <span class="display" tabindex="0">@Model.Value.ToString("d")</span>
    }
else
    {
    <span class="display" tabindex="0">[Not Provided]</span>
    }
    