 


@model IEnumerable<CostCentreDetail>
@{
    ViewBagWrapper.InfoBag.SetTitle("Cost centre detail list",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}

@*
@section CostCentreDetailActive
{
active 
}
*@

<div class="wrapper" id="wrapper-CostCentreDetail">

    <div class="page-header">
        <h2>@ViewBagWrapper.InfoBag.GetTitle(ViewData)</h2>
    </div>

    <p>
        <a href="@Url.Action("Create",new {ajax=true})" class="btn btn-primary pop-up" data-toggle="modal" data-target="#vlePluginModal">
            Create new Cost centre detail
        </a>
    </p>

    @Html.Partial("_partial/_list")

</div>
