<html>
<head>
    <link href="PDFGenerator.css" rel="stylesheet" />
</head>
<body>

<table class="PDTableHeader">
    <tr>
        <td><h1>Position Description</h1></td>
        <td align="right"><img src="[Logo]" width="170" height="54"/></td>
    </tr>
</table>

<table class="PDTable">
    <tr>
        <th>Division</th>
        <td>[Division]</td>
    </tr>
    <tr>
        <th>Directorate</th>
        <td>[Directorate]</td>
    </tr>
    <tr>
        <th>Business Unit</th>
        <td>[BUnit]</td>
    </tr>
    <tr>
        <th>Position Number</th>
        <td>[PositionNumber]</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>[Title]</td>
    </tr>
    <tr>
        <th>Classification</th>
        <td>[GradeCode]</td>
    </tr>
    <tr>
        <th>Brief Role Statement</th>
        <td>[BriefRoleStatement]</td>
    </tr>
    <tr>
        <th>Statement of Duties</th>
        <td>[StatementOfDuties]</td>
    </tr>
    <tr>
        <th>Selection Criteria</th>
        <td>[Criteria]</td>
    </tr>
</table>
<table class="PDTableFooter" border="0">
    <tr>
        <td>[DOCNumber]</td>
        <td align="right">Updated: [lastUpdated]</td>
    </tr>
</table>
</body>
</html>