@{
    ViewBagWrapper.InfoBag.SetTitle("About", ViewData);

}

                <div class="row gef-content-single-column">
                    <div class="col-md-7">
                        About information
                    </div>
                    <div class="col-md-5"></div>
                </div>

@section scripts
{
    window.currentPage = "About";
}
