
@*@{

    ViewBagWrapper.InfoBag.SetTitle("PSNSW divisions establishment system ", ViewData);
}


<aside class="wrapper gef-banner">
    <section class="container">
        <div class="col-lg-6 gef-banner-text">
            
        </div>
    </section>
</aside>
<p>
    This system provides a platform for the PSNSW divisions to manage the establishment, organisational charts and position/role descriptions. 
</p>
<div>
    <section>
        <img src="~/Images/organization-chart.svg" alt="" class="img-responsive img-rounded home-image"/>
    </section>
   <div class="spacer-small"></div>
</div>
@*
@section HomeActive
    {
    active
}*@

@Html.Partial("~/Views/Account/DoeSignIn.cshtml");


